.chat-main__message
  .chat-main__message-name
    Yoshitaka Yano
  .chat-main__message-time
    2018/12/16/ 21:55:00
  .chat-main__message-text
    なるほど
.chat-main__message
  .chat-main__message-name
    Yoshitaka Yano
  .chat-main__message-time
    2018/12/17/ 22:55:00
  .chat-main__message-text
    command Enterで送信したい感ある
.chat-main__message
  .chat-main__message-name
    Yoshitaka Yano
  .chat-main__message-time
    2018/12/20/ 22:25:00
  .chat-main__message-text
    お腹すいた
