.chat-main {
  float: right;
  width: calc(100% - 300px);
  height: 100vh;

  //header部分
  &__header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    border-bottom: solid 1px $border-color;
    background-color: $white;
    padding: 0 40px;

    &--group {
      width: 50%;

      &-name {
        font-size: 20px;
        color: $black;
        padding: 35px 0 15px;
      }
      &-members {
        font-size: 12px;
        color: $silver-gray;
      }
    }
    .btn-edit {
      margin-top: 28px;

      .btn {
        color: $light_blue;
        text-decoration: none;
        border: 2px solid $light_blue;
        padding: 10px 20px;
        line-height: 40px;
      }
    }
  }

  //main chat部分
  &__content {
    width: 100%;
    height: calc(100vh - 15% - 90px);
    box-sizing: border-box;
    padding: 0 40px;
    background-color: $pearl-white;
    overflow: scroll;
  }

  &__list {
    position: relative;
    top: 46px;
  }

  &__message {
    padding: 0 0 40px 0;
    width: 40%;

    &-name {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px;
      color: $thin-black;
      font-size: 16px;
      font-weight: bold;
    }

    &-time {
      display: inline-block;
      font-size: 12px;
      color: $silver-gray;
    }

    &-content {
      font-size: 14px;
      color: $thin-black;
    }
    &-image {
      padding-top: 20px;
    }
  }



  // chat footer部分
  .chat-main__footer {
    background-color: $pearl-gray;
    height: 90px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    position: relative;

    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      float: left;
      background-color: $white;
      height: 50px;
      border: none;
      &__image {
        position: absolute;
        font-size: 20px;
        line-height: 50px;
        right: 145px;
        top: 20 px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      position: absolute;
      top: 20px;
      right: 40px;
      background-color: $light-blue;
      border: none;
      color: $white;
      height: 50px;
      padding: 0 25px;
    }
  }
}
