$light-blue: #38AEF0;
$thin-black: #434A54;
$white: #FFFFFF;
$dark-blue: #253141;
$indigo-blue: #2f3e51;
$border-color: #eeeeee;
$silver-gray: #999999;
$pearl-gray: #DDDDDD;
$pearl-white: #FAFAFA;
$black: #333333;
$alert-orange: #F35500;
$selected-group-color: #425771;
